

body {
  font-family: "Merriweather", serif;
  margin: 0px;
}

:root {
  --primary-color: #2bb6c0;
  --secondary-color: #1783f0;
  --dark-color: #e6a045d8;
}

header {
  margin: 0rem auto 1rem;
  background-color: var(--primary-color);
  padding: 0.5rem 0rem;
  border-bottom-left-radius: 0.5rem;
}

header h1 {
  font-family: "Sofia", cursive;
  padding: 0.25rem 1rem;
  margin: 0px;
}

nav {
  text-align: right;
  padding-right: 1rem;
}

header .nav-item {
  text-decoration: none;
  padding: 0rem 0.5rem;
  font-size: 1.2rem;
}

nav .active {
  font-weight: bold;
  color: white;
}

.container {
  text-align: center;
  margin: 2rem auto;
  padding: 2rem;
}

.container h1 {
  margin: 1rem auto;
  color: var(--primary-color);
}

.input-label {
  display: block;
  font-size: larger;
  margin-bottom: 0.25rem;
}

.container #angle1,
#angle2,
#angle3 {
  border: 2px solid var(--primary-color);
  display: block;
  margin: auto;
  padding: 0.5rem 1rem;
  width: 225px;
  margin-bottom: 1.5rem;
  border-radius: 0.5rem;
}

.container button {
  cursor: pointer;
  border: none;
  padding: 0.7rem 1rem;
  margin: 1rem auto;
  font-size: large;
  color: white;
  border-radius: 0.5rem;
  border: none;
  font-weight: bold;
  background: var(--primary-color);
}

.container button:hover {
  color: var(--dark-color);
  background: var(--secondary-color);
}


.quiz {
  margin: 1rem auto;
}

.quiz-question {
  background-color: var(--primary-color);
  border-radius: 0.25rem;
}

.quiz-question:hover {
  background-color: var(--secondary-color);
  color: black;
}

.quiz-question {
  width: 85%;
  margin: 1rem auto;
  padding: 1rem;
  font-size: larger;
}

#result {
  color: var(--primary-color);
  margin: 0px;
  padding: 1rem 0rem;
  font-size: x-large;
  font-weight: bold;
}
